
<table class="table">
  <tbody>
    <tr>
      <td>Діагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display }}</td>
    </tr>
      <tr>
      <td>Розширення екрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
      <tr>
      <td>об'єм батареї</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
      <tr>
      <td>Оперативна пам'ять</td>
      <td>{{ product.ram }}</td>
    </tr>
      <tr>
      <td>Наявність слота для sd карти</td>
      <td>{{ product.sd }}</td>
    </tr>

      <tr>
      <td>Максимальний об'єм встроєної пам'яті</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>

      <tr>
      <td>Головна камера</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>

      <tr>
      <td>Фронтальна камера</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>

